server:
  resources:
    requests:
      cpu: 50m
      memory: 100Mi
    limits:
      cpu: 100m
      memory: 200Mi

repoServer:
  resources:
    requests:
      cpu: 50m
      memory: 150Mi
    limits:
      cpu: 100m
      memory: 250Mi

applicationController:
  resources:
    requests:
      cpu: 50m
      memory: 150Mi
    limits:
      cpu: 100m
      memory: 300Mi

redis:
  resources:
    requests:
      cpu: 20m
      memory: 50Mi
    limits:
      cpu: 50m
      memory: 100Mi

server:
  service:
    type: NodePort
