prometheus:
  prometheusSpec:
    retention: 1d
    resources:
      requests:
        memory: "256Mi"
        cpu: "100m"
      limits:
        memory: "512Mi"
        cpu: "500m"

grafana:
  adminPassword: "admin"
  service:
    type: NodePort
    nodePort: 32000
