prometheus:
  prometheusSpec:
    retention: 12h
    retentionSize: "1GB"

    resources:
      requests:
        cpu: 100m
        memory: 300Mi
      limits:
        cpu: 200m
        memory: 500Mi

grafana:
  enabled: true
  adminPassword: "admin"
  service:
    type: NodePort

alertmanager:
  alertmanagerSpec:
    resources:
      requests:
        cpu: 50m
        memory: 100Mi
      limits:
        cpu: 100m
        memory: 200Mi
